/* about description */
.about__description {
    padding: 3rem;
}

.about__text {
    margin-top: 1rem;
}

.about__gallery {
    padding: 1rem;
}

.about__image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5rem;
}

.about__caption {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

@media (min-width: 900px) {

    .about {
        display: flex;
        justify-content: space-between;
        padding: 1rem 10%;
        gap: 5rem;
        margin-bottom: 3rem;
    }

    .about__description,
    .about__gallery {
        padding: 0;
    }

    .about__description {
        flex: 1;
    }

    .about__gallery {
        flex: 1;
    }

    .about__caption {
        margin-bottom: 0;
    }

    .aboutPage__divider {
        display: none;
    }
}

/* contact section */
.contact {
    padding: 2rem;
}

.contact__title {
    margin-bottom: 1rem;
}

@media (min-width: 900px) {
    .contact {
    background-color: var(--colour-primary-tint);
    padding: 5rem 10%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 5rem;
    }
}

/* form */
.email {
    margin-top: 1rem;
}

.email__description {
    margin-bottom: 1rem;
}

.email__label,
.email__input {
    display: block;
}

.email__input {
    margin-bottom: 1rem;
    padding: 1rem;
}

.email__input--big {
    line-height: 4rem;
}

.email__label {
    margin-bottom: 0.5rem;
}

.email__submit {
    height: 2.5rem;
    width: 5rem;
    background-color: var(--colour-primary);
    border: none;
    border-radius: 0.4rem;
}

@media (min-width: 900px) {
    .email {
        flex: 1;
        margin: 0;
    }

    .email__input {
        width: 100%;
        max-width: 700px;
    }
}

/* map */
.location {
    margin-top: 4rem;
}

.location__map {
    width: 100%;
    height: 30rem;
}

.location__title {
    margin: 2rem 0;
}

@media (min-width: 900px) {
    .location {
        flex: 1;
        margin: 0;
    }
}

