.footer {
    background-color: var(--colour-bg-footer);
}

@media (min-width: 900px) {
    .footer {
        
    }
}

/* footer links */
.footer__upper {
    padding: 2rem 1rem;
}

.footer__links {
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.links__title {
    padding: 1rem;
}

.arrow-menu {
    margin: auto;
    height: 50px;
    width: 50px;
    position: relative;
}

.arrow-menu__line {
    display: block;
    height: 5px;
    width: 50%;
    background-color: black;
    border-radius: 1rem;
    position: absolute;
    top: 45%;
    transition: 0.3s ease;
}

.arrow-menu__line:nth-child(1){
    transform: rotate(45deg);
    right: 40%;
}

.arrow-menu__line:nth-child(2){
    transform: rotate(-45deg);
    left: 40%;
}

.arrow-menu--active .arrow-menu__line:nth-child(1) {
    transform: rotate(-45deg);
}

.arrow-menu--active .arrow-menu__line:nth-child(2) {
    transform: rotate(45deg);
}

.links__company, .links__legal {
    display: none;
}

.links__company--active, .links__legal--active {
    display: block;
    grid-column-start: 1;
    grid-column-end: 3;
}

.links__link {
    text-decoration: none;
    color: var(--colour-text-body);
    list-style: none;
    padding: 0 1rem;
    margin: 0.3rem 0;
}



/* rights and socials */
.footer__end {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.footer__rights {
    color: var(--colour-text-body);
}

.social {
    height: 2rem;
    background-color: var(--colour-text-headings);
    border-radius: 0.9rem;
    width: auto;
    padding: 0.3rem;
    margin: 0 0.5rem;
}
