.header {
    position: relative;
    background-color: var(--colour-bg-header);
    padding: 1rem;
}

/* navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.logo {
    height: 2.75rem;
    width: auto;
    padding-left: 1rem;
}

.menu__button {
    padding-right: 1rem;
}

.linklist {
    display: none;
}

.linklist__item {
    list-style-type: none;
}

.linklist__link {
    text-decoration: none;
    color: #000000;
}

/* header content */
.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.header__content__img {
    width: 85%;
    height: auto;
    border-radius: 2rem;
    margin-bottom: 4rem;
}

/* curve design */
.custom-shape-divider-bottom-1759919573 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1759919573 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 61px;
}

.custom-shape-divider-bottom-1759919573 .shape-fill {
    fill: #ffffff;
}

/* responsive */
@media (min-width: 900px) {
    .nav {
        flex-direction: column;
        gap: 3rem;
    }

    .menu__button {
        display: none;
    }

    .logo {
        padding-left: 0;
    }

    .linklist {
        display: flex;
        gap: 3rem;
    }

    .linklist__link {
        padding: 1rem;
    }

    .header__content {
        gap: 2rem;
    }
}
