.brands {
  width: 100;
  margin: 1rem;
}

.brands__text {
  text-align: center;
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
  color: var(--colour-text-headings);
}

.brands__icons {
  /* margin: 1rem; */
  width: 100%;
  display: flex;
  flex-direction: row;
}

.brands__logo {
  width: 100%;
  margin: 0 0.5rem;
  align-self: center;
}

.gallery {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
.gallery__img {
  width: 100%;
  border-radius: 4rem;
  height: auto;
  margin-bottom: 1rem;
}
.gallery__options {
}
.options__tile {
}
.tile__content {
}
.tile__title {
}
.tile__text {
}
